{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор данного проекта</h1>
<p>
  Меня зовут Ян, мне 24 года, по образованию - инженер проектировщик автомобильных дорог и искусственных сооружений. После нескольких месяцев работы,<br>
  по специальности, целиком и полностью погрузившись в нюансы профессии и рынка понял, что это не мое, что это мне не близко. Институская романтизация профессии и желание<br>
  реализовывать себя в этой сфере ушло полностью. Я начал поиски себя, началось самое трудное время. Хотелось понять, а могу ли я еще где-то реализовать свои амбиции,<br>
  могу ли я найти занятие, которое бы мне приносило чувство удовлетворенности, имею ли я право жаловаться и пытаться найти более интересную деятельность, которая бы<br>
  меня вовлекла в процесс "на все 100" ? В этом состояниии находился почти полтора года, пока не решился попробовать свои силы в разработке. Было много сомнений, получится ли,<br>
  достаточно ли я подхожу для этой сферы, по силе ли мне это обучение?
</p>
<p>
  И вот, после буквально пары месяцев занятий, я могу поделиться этими мыслями на сайте, который написал сам. Да, без такой классной и компетентной команды Практикума, без <br>
  неравнодушных однокурсников, без <s>Гугла</s> Яндекса и ночных просмотров YouTube этого бы не было. Но самое важное - это появившаяся мотивация и невероятное желание остаться в этой среде<br>
  каждый день движет меня искать, учить, испытывать и добиваться новых высот. Да, бывает тяжко, но я чувства возникают уже совсем другие: "Нужно больше времени!!", "Нужно спросить про полезные ресурсы"<br>
  "Хочу больше заниматься", "Хочу создавать полезные и нужные продукты!!", "Время всего лишь 3 утра? Пфф, работаем дальше".
</p>
<p>В заключении, отдельную благодарность хотелось бы выразить вам Артемий. Спасибо за вашу снисходительность, за то, что вы так лояльно<br>
  относитесь ко всем этим нелыпым ошибкам. Что вы хвалите, что вы указываете на недочеты и полностью вовлечены в то, чтобы я понял и научился<br>
</p>
{% endblock %} 